{{ define "main" }}

<section class="text-gray-700 body-font">
  <div class="container px-5 py-8 mx-auto">
    {{- partial "custom-message.html" . -}}

    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      {{ range (where .Site.Pages "Kind" "page").ByWeight.Reverse}}
      {{ if ne .Params.Exclude true }}
      <a
        target="_blank"
        rel="noopener"
        href="{{ .Params.Link }}"
        class="card p-4 md:w-1/4 sm:mb-4 mb-6 hover:shadow-l hover:bg-gray-400 transition duration-200 ease-in rounded-lg {{ lower .Section }}"
      >
        <div class="rounded-lg h-56 overflow-hidden relative">
          {{ if (or .Params.Image .CurrentSection.Params.Image) }}
          <img
            alt="{{ .Title }}"
            class="object-cover object-center h-full w-full"
            src="{{ (or .Params.Image .CurrentSection.Params.Image) }}"
          />
          {{ end }}
          <span
            class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 bottom-0 rounded-bl"
            >{{ title .Section }}</span
          >
          <h2
            class="bg-white bg-opacity-50 text-blue-500 px-2 py-1 tracking-widest text-l leading-tight font-extrabold font-bree text-center w-full flex justify-center items-center absolute top-0 left-0"
          >
            {{ .Title }}
          </h2>
          <p
            class="text-grey px-2 py-1 tracking-widest text-md leading-tight font-bold w-full absolute bottom-0 left-0 rounded-bl"
          >
            {{ .Params.Price }}
          </p>
        </div>
        <div class="card-body mt-3 tracking-widest leading-tight ">
          <h5 class="card-title font-bree font-extrabold ">{{ .Params.Subtitle }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ .Params.Price }}</h6>
          <p class="card-text">{{ .Params.Description }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
