{{ define "main" }}

<section class="text-gray-700 body-font">
  <div class="container px-5 py-8 mx-auto">
    {{- partial "custom-message.html" . -}}

    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      {{ range (where .Site.Pages "Kind" "page").ByWeight.Reverse}}
      {{ if ne .Params.Exclude true }}
      <a
        target="_blank"
        rel="noopener"
        {{ if .Params.Link }}
          href="{{ .Params.Link }}"
        {{ else }}
          href="{{ .Site.Social.whatsapp }}"
        {{ end }}
        class="card p-4 md:w-1/4 sm:mb-4 mb-6 hover:shadow-l hover:bg-gray-400 transition duration-200 ease-in rounded-lg {{ lower .Section }}"
      >
        <div class="rounded-lg h-56 overflow-hidden relative">
          {{ if (or .Params.Image .CurrentSection.Params.Image) }}
          <img
            alt="{{ .Title }}"
            class="object-cover object-center h-full w-full"
            src="{{ (or .Params.Image .CurrentSection.Params.Image) }}"
          />
          {{ end }}
          <span
            class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
            >{{ title .Section }}</span
          >
        </div>
        <div class="card-body mt-3 px-1 tracking-widest leading-tight ">
          <h5 class="card-title font-bree font-extrabold ">{{ .Params.Subtitle }}</h5>
          <h6 class="card-subtitle mt-1 mb-2 text-muted">{{ .Params.Price }}</h6>
          {{ if  .Params.Pickup  }}
          <p class="card-text text-xs text-justify text-danger text-red-500 mb-1">Retiro desde {{ .Params.Pickup }}. Reserva por 50% del precio</p>
          {{ end }}
          <p class="card-text text-xs text-justify">{{ .Params.Description }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
